#queue
  %h2 Queue For Mass Spec
  - @submissions.each do |sub|
    .sumbission
      Name: #{sub.name} Email: #{sub.email} 
      %form{ :action => "/queue", :method => :post }
        %input{ :type => "hidden", :name => "_method", :value => "delete"}
        %input{ :type => "hidden", :name => "id", :value => "#{sub.id}" }
        %button{ :title => "Delete" }
          Delete this entry
    %br
    %br


