#signup
  %h2 Sign up to use the mass spec
  #signup_form
    %form{ :action => '\scheduler', :method => 'POST' }
      #name
        Name
        %br
        %input{ :type => 'text', :name => 'name', :value => @name }
      #email
        Email
        %br
        %input{ :type => 'text', :name => 'email', :value => @email }
      #submit
        %input{ :type => 'submit' }

  - if @success
    %h3.success Submission successfully saved.
