%script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" }
%script{ :type => "text/javascript", :src => "jquery-ui-1.8.8.custom/js/jquery-ui-1.8.8.custom.min.js" }
%script{ :type => "text/javascript", :src => "scripts.js" }
%link{ :rel => "stylesheet", :type => "text/css", :href => "styles.css" }
%link{ :rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css" }
