body {
  font-family: "Courier New", Courier, monospace; }

#container {
  width: 1000px;
  margin: auto;
  background-color: #cce2f7;
  color: #111d2d; }

#header {
  background-color: #4a5a73;
  height: 39px;
  margin: 0em 0em 1em 0em;
  padding: 0em 1em; }
  #header h1 {
    padding: 0;
    margin: 0;
    color: black; }
  #header ul#menu {
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    top: -27px; }
    #header ul#menu li {
      display: inline;
      float: left; }
      #header ul#menu li a {
        color: #cce2f7;
        background-color: #4a5a73;
        padding: 10px; }
        #header ul#menu li a:hover {
          background-color: #cce2f7;
          color: #4a5a73; }

#content {
  padding: 0px 5px; }

.error, .notice, .warning, .success {
  margin-bottom: 1em;
  padding: 0.8em;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd; }

.success {
  background-color: #e6efc2;
  color: #529214;
  border-color: #c6d880; }

#signup_form em {
  color: red; }
